<!DOCTYPE html>
<html lang="en">

<head>
    <title> Zari Main Website </title>
    <meta charset="UTF-8">
    <meta name="description" content="Zari Main Website">
    <meta name="kaywords" content="Zari Main Website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="AHMED RASHED" />
    <!-- Favicon -->
    <!-- <link href="imgs/favicon.ico" rel="icon"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/all.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/skitter.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <!-- ready -->
    <!-- <div id="ready">
        <i class="fa fa-spinner fa-5x fa-spin"></i>
    </div> -->

    <!-- shat link -->
    <a id="msgBtn" class="position-fixed bottom-0 end-0 translate-middle text-white">
        <i class="fa-solid fa-comment-dots fs-3 p-3 main-bg rounded-circle"></i>
    </a>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-nav fixed-top py-2">
        <div class="container-fluid container-xl special-w">
            <a class="navbar-brand"><img src="../../images/logo w 1.png" alt="zari logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-0 ms-lg-3 py-3 py-lg-0 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../about.html">ABOUT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle services-link" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../services/web-design&develpment.html">WEBSITE DESIGN
                                    & DEVELOPMENT</a></li>
                            <li><a class="dropdown-item" href="../services/mobile-app-development.html">MOBILE
                                    APPLICATION DEVELOPMENT</a></li>
                            <li><a class="dropdown-item" href="../services/social-media-marketing.html">Social Media
                                    Marketing</a></li>
                            <li><a class="dropdown-item" href="../services/technology-consultation.html">Technology
                                    Consultation</a></li>
                            <li><a class="dropdown-item" href="../services/graphic-designs.html">Graphic Designs</a>
                            </li>
                            <li><a class="dropdown-item" href="../services/app-testing.html">Applications Testing</a>
                            </li>
                            <li><a class="dropdown-item" href="../services/clouding-storage.html">Clouding Storage</a>
                            </li>
                            <li><a class="dropdown-item" href="../services/domain-hosting-services.html">Domain &
                                    Hosting Services</a></li>
                            <li><a class="dropdown-item" href="../services/csc.html">Cyber Security Consultation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle products-link active" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../products/e-commerce.html">E-commerce</a></li>
                            <li><a class="dropdown-item" href="../products/loyalty-system.html">Loyalty System</a></li>
                            <li><a class="dropdown-item" href="../products/pos-system.html">POS System</a></li>
                            <li><a class="dropdown-item" href="../products/zari-salon.html">Zari Salon</a></li>
                            <li><a class="dropdown-item" href="../products/erp-system.html">ERP System</a></li>
                            <li><a class="dropdown-item" href="../products/crm-system.html">CRM System</a></li>
                            <li><a class="dropdown-item" href="../products/real-estate-management.html">Real Estate
                                    Management</a></li>
                            <li><a class="dropdown-item" href="../products/restaurants-management.html">Restaurants
                                    Management</a></li>
                            <li><a class="dropdown-item" href="../products/zari-expresses.html">Zari Expresses</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle projects-link" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Projects
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../projects/zari-on-time.html">Zari On Time</a></li>
                            <li><a class="dropdown-item" href="../projects/zari-jumla.html">Zari Jumla</a></li>
                            <li><a class="dropdown-item" href="../projects/zari-gifts.html">Zari Gifts</a></li>
                            <li><a class="dropdown-item" href="../projects/zari-express-projects.html">Zari Express</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../previous.html">Previous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../share.html">Share your Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../join.html">Join us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contact.html">Contact us</a>
                    </li>
                </ul>
                <div class="custome d-flex justify-content-center align-items-center pb-4 pb-lg-0">
                    <div class="language py-2">
                        <i class="fa-solid fa-globe fs-6"></i>
                        <select class="py-1" name="language">
                            <option selected value="English">
                                English
                            </option>
                            <!-- <option value="Arabic">
                                العربية
                            </option> -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- header -->
    <header id="loyalty-system" class="loyalty-system-page main-img-bg">
        <div class="total-header layer-img d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="main-title-page d-flex justify-content-center align-items-center wow fadeIn" data-wow-duration="1s">
                    <h2 class="fs-1 text-white fw-bold">Loyalty System</h2>
                </div>
            </div>
        </div>
    </header>

    <!-- Loyalty System page -->
    <section class="loyalty-system single-product py-5">
        <div class="container">
            <div class="row gx-0 gy-4 d-flex justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="caption-product-page wow fadeInLeft" data-wow-duration="1.5s">
                        <h3 class="fw-bold mb-3 fs-2 main-color wow fadeInDownBig" data-wow-duration="1s" data-wow-delay="0.5s">Loyalty System</h3>
                        <p class="mb-3 py-1 text-black wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">Zari is an Loyalty System system where you can organize multiple
                            shops and stores such as digital store, fashion store, sports store, health & beauty store,
                            and many others in one platform.
                        </p>
                        <h5 class="fw-bold mb-3 wow fadeInLeft" data-wow-duration="1.5s">SKU: 10</h5>
                        <h5 class="fw-bold mb-3 wow fadeInLeft" data-wow-duration="1.5s">Availability: In Stock</h5>
                        <h5 class="fw-bold mb-3 wow fadeInLeft" data-wow-duration="1.5s">Category: Products</h5>
                        <h5 class="fw-bold mb-4 wow fadeInLeft" data-wow-duration="1.5s">Tag: Loyalty System</h5>
                        <div class="buttons wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.5s">
                            <a href="#" class="btn black-btn py-2 px-5">Demo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-page text-center wow fadeInRight" data-wow-duration="1.5s">
                        <img src="../../images/products/Group 163.png" class="w-75 mx-auto" alt="Loyalty System">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- description product -->
    <section class="descrip-product pb-5">
        <div class="container">
            <div class="description py-5 px-4 wow fadeIn" data-wow-duration="1.5s">
                <h4 class="fw-bold mb-3 fs-2 main-color wow fadeInDownBig" data-wow-duration="1s" data-wow-delay="0.5s">Description</h4>
                <p class="mb-2 py-1 text-black wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">Zari Loyalty System multi-reason site for any sort of business. It is a
                    superior method to introduce your Loyalty System business. You can sell food, gadgets, design items,
                    Digital Products, and commercial centers. Zari Loyalty System is amazingly advanced for giving clients
                    the best buying experience. Zari helps you to create a phenomenal shopping experience website for
                    your valued customers. This provides you with enormous amounts of ready-to-use Loyalty System web
                    templates that you can easily utilize in your business web. It contains all those modern-day trendy
                    features that allow you to design a web that truly represents your vision.
                </p>
                <p class="py-1 text-black mb-5 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">With the item, you have on your table, scores of different site Headers, Footers, Slider Styles,
                    fascinating Banner Layouts, Login & Blog screen variations, multiple language options. Yet the best
                    part is its SEO Friendliness because you mean business and more sales. We are always keen to keep
                    adding more features and would keep updating them from time to time. You can pick and choose certain
                    components that you find handy for your web, or may also use the entire pack in your Loyalty System
                    website.
                </p>
                <div class="row gx-0 gy-4 d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="headings wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h6><span><i class="fa-solid fa-check"></i></span>POS management</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Quotation Management</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Advanced Inventory</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>A Accounting Management System</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Sale Return Management</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Customers Management</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Biller Management</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Balance Sheet</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="headings wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h6><span><i class="fa-solid fa-check"></i></span>Trial Balance</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Cash Flow</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Payment Account Reports</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Products Management</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Expense Management</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Profit/loss report</h6>
                            <h6><span><i class="fa-solid fa-check"></i></span>Sale report</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer id="footer" class="footer py-5 bg-black position-relative">
        <a id="btnTopFooter" class="position-absolute top-0 end-0 translate-middle text-white"><i
                class="fa-solid fa-chevron-up fs-3 p-2 main-bg rounded-circle"></i></a>
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4 col-md-6">
                    <div class="logo-footer">
                        <img src="../../images/home/2 (2).png" class="w-50" alt="zari logo">
                        <p>Zari is a Saudi-Egyptian company among a group of companies operating in more than one field
                            in Saudi Arabia and the Middle East.</p>
                        <h5 class="mb-4">Follow us </h5>
                        <div class="icons-footer d-flex align-items-center">
                            <a target="_blank" href="https://www.facebook.com/ZARISolutionksa"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/SolutionZari"><i
                                    class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://www.instagram.com/zarisolutionksa/"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a target="_blank" href="https://wa.me/+966566770235"><i
                                    class="fa-brands fa-whatsapp"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/zari-solution-ksa-12717623b/"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://www.tiktok.com/@zarisolutionksa"><img
                                    src="../../images/home/tik-tok.png" alt="tik-tok"></a>
                            <a target="_blank"
                                href="https://www.snapchat.com/add/zari_solutions?share_id=osFpGeXWnlE&locale=en-US"><img
                                    src="../../images/home/snapchat.png" alt="snapchat"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="navigate ">
                        <h5 class="mb-5">Explore</h5>
                        <div class="links-navigate d-flex justify-content-center flex-column">
                            <a href="../index.html">Home</a>
                            <a href="../about.html">ABOUT</a>
                            <a href="../services.html">Services</a>
                            <a class="active" href="../products.html">Products</a>
                            <a href="../projects.html">Projects</a>
                            <a href="../previous.html">Previous</a>
                            <a href="../contact.html">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="navigate ">
                        <h5 class="mb-5">Resources</h5>
                        <div class="links-navigate d-flex justify-content-center flex-column">
                            <a href="../join.html">Career</a>
                            <a href="../faq.html">FAQ</a>
                            <a href="../privacy-policy.html">Privacy Policy</a>
                            <a href="../terms-of-service.html">Terms of Service</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="navigate">
                        <h5 class="mb-5 contact">Contact us</h5>
                        <div class="d-flex justify-content-start align-items-center mb-2">
                            <span class="me-3"><i class="fa-solid fa-location-dot"></i></span>
                            <p class="lh-sm ksa">7865 King Abdullah Bin - Abdulaziz Road - Jasham - AL-Madina - KSA</p>
                        </div>
                        <div class="d-flex justify-content-start align-items-center mb-3">
                            <span class="me-3"><i class="fa-solid fa-location-dot"></i></span>
                            <p class="lh-sm egy">9 Street Saeed Zakaria - Nasr City - Cairo - Egypt</p>
                        </div>
                        <div class="phone d-flex justify-content-start align-items-center mb-3">
                            <span class="me-3"><i class="fa-solid fa-phone"></i></span>
                            <a target="_blank" href="tel:+966920024403"> +966 92 002 4403</a>
                        </div>
                        <div class="phone d-flex justify-content-start align-items-center mb-3">
                            <span class="me-3"><i class="fa-solid fa-phone"></i></span>
                            <a target="_blank" href="tel:+966566770235"> +966 56 677 0235</a>
                        </div>
                        <div class="d-flex justify-content-start align-items-center">
                            <span class="me-3"><i class="fa-solid fa-envelope"></i></span>
                            <a target="_blank" href="https://info@zarisolution.com/"> info@zarisolution.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- js files -->
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/jquery.easing.1.3.js"></script>
    <script src="../../js/jquery.skitter.min.js"></script>
    <script src="../../js/wow.min.js"></script>
    <script src="../../js/main.js"></script>

</body>

</html>